{{ define "main" }}
  <section class="u-align-center u-clearfix u-container-align-center u-section-1">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <h1 class="u-align-center u-text u-text-default u-text-1">{{ .Title }}</h1>
      {{ with .Content }}
        <div class="u-align-center u-text u-text-2">
          {{ . }}
        </div>
      {{ end }}
      <div class="u-expanded-width u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          {{ range .Pages }}
            <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <h3 class="u-align-center u-text u-text-3">
                  <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                </h3>
                {{ with .Summary }}
                  <p class="u-align-center u-text u-text-4">{{ . }}</p>
                {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
